* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    padding: 2rem;
}

h1 {
    text-transform: uppercase;
}

#container {
    margin-top: 4rem;
    display: flex;
}

#container .group {
    flex: 1;
}

#container .group .title {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

#container .group .item {
    margin-top: 1rem;
}

/* Thêm vào file style.css của bạn */
.user-info {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    color: white;
    padding: .4rem .8rem;
    border-end-start-radius: .8rem;
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: 1000;
}

.user-info button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.user-info button:hover {
    background-color: #d32f2f;
}